<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.slumber.member.model.dao.MemberDAO">
	<resultMap type="Member" id="memberResultSet">
		<id property="memberNo" column="MEMBER_NO"/>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="memberPassword" column="MEMBER_PASSWORD"/>
		<result property="memberNickname" column="MEMBER_NICKNAME"/>
		<result property="memberName" column="MEMBER_NAME"/>
		<result property="memberPhone" column="MEMBER_PHONE"/>
		<result property="memberEnrollDate" column="MEMBER_ENROLL_DATE"/>
		<result property="memberStatus" column="MEMBER_STATUS"/>
		<result property="memberIsBlacklist" column="MEMBER_IS_BLACKLIST"/>
		<result property="memberAddr" column="MEMBER_ADDR"/>
		<result property="memberDetailAddr" column="MEMBER_DETAIL_ADDR"/>
	</resultMap>

	<select id="login" resultMap="memberResultSet">
		SELECT * FROM MEMBER
		WHERE MEMBER_ID=#{memberId} AND MEMBER_STATUS='Y'
	</select>

	<select id="adminLogin" resultMap="adminResultSet">
		SELECT * FROM EMPLOYEE
		WHERE EMPLOYEE_ID=#{adminId} AND EMPLOYEE_STATUS='Y'
	</select>

	<resultMap type="Admin" id="adminResultSet">
		<id property="adminNo" column="EMPLOYEE_NO"/>
		<result property="adminId" column="EMPLOYEE_ID"/>
		<result property="adminPwd" column="EMPLOYEE_PWD"/>
		<result property="adminName" column="EMPLOYEE_NAME"/>
		<result property="adminPhone" column="EMPLOYEE_PHONE"/>
		<result property="adminStatus" column="EMPLOYEE_STATUS"/>
	</resultMap>

	<insert id="enrollMember">
		insert into member
		values(seq_member_no.nextval, #{ memberId }, #{ memberPassword}, #{ memberNickname }, #{ memberName}, #{ memberPhone },
				sysdate, default, default, #{memberAddr}, #{ memberAddr })
	</insert>

	<!-- 마이페이지 -->
	<select id="checkDuplication" resultType="_int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE MEMBER_NICKNAME=#{ memberNickname }
	</select>

	<select id="checkMyNickname" resultType="_int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE MEMBER_NICKNAME=#{ memberNickname } AND MEMBER_ID=#{ memberId }
	</select>

	<update id="updateMember">
		UPDATE MEMBER
		SET MEMBER_NAME = #{ memberName },
			MEMBER_NICKNAME = #{ memberNickname },
			MEMBER_PHONE = #{ memberPhone },
			<if test="memberPassword != ''">
				MEMBER_PASSWORD = #{ memberPassword },
			</if>
			MEMBER_ADDR = #{ memberAddr },
			MEMBER_DETAIL_ADDR = #{ memberDetailAddr }
		WHERE MEMBER_ID = #{ memberId }
	</update>

	<!-- 알람 -->
	<select id="alarmCoupon" resultMap="couponResultSet">
		SELECT *
		FROM COUPON
			JOIN COUPON_ISSUANCE USING(COUPON_NO)
		WHERE MEMBER_NO = #{ memberNo } AND COUPON_IS_CHECKED = 'N'
		ORDER BY COUPON_END_DATE
	</select>

	<update id="deleteCouponAlarm">
		UPDATE COUPON_ISSUANCE
		SET COUPON_IS_CHECKED = 'Y'
		WHERE MEMBER_NO = #{ memberNo } AND COUPON_IS_CHECKED = 'N'
	</update>

	<update id="deleteReplyAlarm">
		UPDATE COMMUNITY_REPLY
		SET REPLY_ISCHECKED = 'Y'
		WHERE REPLY_NO = #{ replyNo } AND REPLY_ISCHECKED = 'N'
	</update>

	<select id="alarmReply" resultMap="replyResultSet">
		SELECT *
		FROM COMMUNITY_REPLY
		WHERE BOARD_NO = #{ boardNo } AND REPLY_ISCHECKED = 'N' AND REPLY_ISDELETED = 'N' AND REPLY_ISHIDDEN = 'N'
	</select>

	<update id="checkAlarm">
		UPDATE COMMUNITY_REPLY
		SET REPLY_ISCHECKED = 'Y'
		WHERE REPLY_NO = #{ replyNo }
	</update>

	<!-- 페이징 -->
	<select id="getBoardListCount" resultType="_int">
		SELECT COUNT(*)
		FROM COMMUNITY_BOARD
		WHERE MEMBER_NO = #{ memberNo } AND BOARD_ISDELETED = 'N'
	</select>

	<select id="getReplyListCount" resultType="_int">
		SELECT COUNT(*)
		FROM COMMUNITY_REPLY
			JOIN COMMUNITY_BOARD USING(BOARD_NO)
		WHERE COMMUNITY_REPLY.MEMBER_NO = #{ memberNo } AND REPLY_ISDELETED = 'N'
	</select>

	<select id="getContactListCount" resultType="_int">
		SELECT COUNT(*)
		FROM QUESTION_BOARD
			JOIN PRODUCT USING(PRODUCT_NO)
		WHERE MEMBER_NO = #{ memberNo }
	</select>

	<select id="getAnswerListCount" resultType="_int">
		SELECT COUNT(*)
		FROM BOARD_INQUIRY
		WHERE MEMBER_NO = #{ memberNo }
	</select>

	<select id="getOrderListCount" resultType="_int">
		SELECT COUNT(*)
		FROM PRODUCT_ORDER
			LEFT JOIN PRODUCT USING(PRODUCT_NO)
			LEFT JOIN COUPON_ISSUANCE USING(COUPON_ISSUANCE_NO)
			LEFT JOIN COUPON USING(COUPON_NO)
		WHERE PRODUCT_ORDER.MEMBER_NO = #{ memberNo }
	</select>

	<!-- 쿠폰 -->
	<select id="selectCurrentCoupon" resultMap="couponResultSet">
		SELECT *
		FROM COUPON
			JOIN COUPON_ISSUANCE USING(COUPON_NO)
		WHERE MEMBER_NO = #{ memberNo } AND COUPON_END_DATE <![CDATA[ >= ]]> SYSDATE AND COUPON_USEDATE IS NULL
		ORDER BY COUPON_END_DATE
	</select>

	<select id="selectUseCoupon" resultMap="couponResultSet">
		SELECT *
		FROM COUPON
			JOIN COUPON_ISSUANCE USING(COUPON_NO)
		WHERE MEMBER_NO = #{ memberNo } AND COUPON_USEDATE IS NOT NULL
		ORDER BY COUPON_END_DATE
	</select>

	<select id="selectEndCoupon" resultMap="couponResultSet">
		SELECT *
		FROM COUPON
			JOIN COUPON_ISSUANCE USING(COUPON_NO)
		WHERE MEMBER_NO = #{ memberNo } AND COUPON_END_DATE <![CDATA[ < ]]> SYSDATE AND COUPON_USEDATE IS NULL
		ORDER BY COUPON_END_DATE DESC
	</select>

	<select id="couponDetail" resultMap="couponResultSet">
		SELECT *
		FROM COUPON
			JOIN COUPON_ISSUANCE USING(COUPON_NO)
		WHERE COUPON_ISSUANCE_NO = #{ couponIssuanceNo }
	</select>

	<select id="findEnrollCoupon" resultMap="couponResultSet">
		<![CDATA[
		SELECT *
		FROM COUPON
		WHERE COUPON_CONDITION= 'signup' AND COUPON_STATUS='Y'
		]]>
	</select>

	<insert id="enrollCoupon" >
		INSERT INTO COUPON_ISSUANCE
		VALUES(SEQ_COUPON_ISSUANCE_NO.NEXTVAL, #{ couponNo }, SEQ_MEMBER_NO.CURRVAL , SYSDATE, ${couponEndDate}, null, 'Y', default)
	</insert>

	<resultMap type="MemberCoupon" id="couponResultSet">
		<id property="couponNo" column="COUPON_NO"/>
		<result property="couponName" column="COUPON_NAME"/>
		<result property="couponDiscountRate" column="COUPON_DISCOUNT_RATE"/>
		<result property="couponContent" column="COUPON_CONTENT"/>
		<result property="couponCondition" column="COUPON_CONDITION"/>
		<result property="couponPeriod" column="COUPON_PERIOD"/>
		<result property="couponOpenDate" column="COUPON_OPEN_DATE"/>
		<result property="couponCloseDate" column="COUPON_CLOSE_DATE"/>
		<result property="couponUseCondition" column="COUPON_USE_CONDITION"/>
		<result property="couponPeriodType" column="COUPON_PERIOD_TYPE"/>
		<result property="couponIssuanceNo" column="COUPON_ISSUANCE_NO"/>
		<result property="couponStartDate" column="COUPON_START_DATE"/>
		<result property="couponEndDate" column="COUPON_END_DATE"/>
		<result property="couponUseDate" column="COUPON_USEDATE"/>
		<result property="couponIsChecked" column="COUPON_IS_CHECKED"/>
	</resultMap>

	<!-- 게시판, 댓글 -->
	<select id="selectBoard" resultMap="boardResultSet">
		SELECT *
		FROM COMMUNITY_BOARD
		WHERE MEMBER_NO = #{ memberNo } AND BOARD_ISDELETED = 'N'
		ORDER BY BOARD_ENROLL_DATE DESC
	</select>

	<select id="selectBoardList" resultMap="boardResultSet">
		SELECT *
		FROM COMMUNITY_BOARD
		WHERE MEMBER_NO = #{ memberNo } AND BOARD_ISDELETED = 'N'
		ORDER BY BOARD_ENROLL_DATE DESC
	</select>

	<update id="deleteBoard">
		UPDATE COMMUNITY_BOARD
		SET BOARD_ISDELETED = 'Y'
		WHERE BOARD_NO = #{ boardNo }
	</update>
	
	<select id="selectReply" resultMap="replyResultSet">
		SELECT *
		FROM COMMUNITY_REPLY
			JOIN COMMUNITY_BOARD USING(BOARD_NO)
		WHERE COMMUNITY_REPLY.MEMBER_NO = #{ memberNo } AND REPLY_ISDELETED = 'N'
		ORDER BY REPLY_ENROLL_DATE DESC
	</select>

	<select id="selectReplyList" resultMap="replyResultSet">
		SELECT *
		FROM COMMUNITY_REPLY
			JOIN COMMUNITY_BOARD USING(BOARD_NO)
		WHERE COMMUNITY_REPLY.MEMBER_NO = #{ memberNo } AND REPLY_ISDELETED = 'N'
		ORDER BY REPLY_ENROLL_DATE DESC
	</select>

	<update id="deleteReply">
		UPDATE COMMUNITY_REPLY
		SET REPLY_ISDELETED = 'Y'
		WHERE REPLY_NO = #{ replyNo }
	</update>

	<select id="countReply" resultType="_int">
		SELECT COUNT(*)
		FROM COMMUNITY_REPLY
		WHERE BOARD_NO = #{ boardNo } AND REPLY_ISDELETED = 'N'
	</select>

	<resultMap type="MemberBoard" id="boardResultSet">
		<id property="boardNo" column="BOARD_NO"/>
		<result property="boardTitle" column="BOARD_TITLE"/>
		<result property="boardContent" column="BOARD_CONTENT"/>
		<result property="boardLikes" column="BOARD_LIKES"/>
		<result property="boardDislikes" column="BOARD_DISLIKES"/>
		<result property="boardReports" column="BOARD_REPORTS"/>
		<result property="boardViews" column="BOARD_VIEWS"/>
		<result property="boardType" column="BOARD_TYPE"/>
		<result property="boardEnrollDate" column="BOARD_ENROLL_DATE"/>
		<result property="boardModifyDate" column="BOARD_MODIFY_DATE"/>
		<result property="boardIsDeleted" column="BOARD_ISDELETED"/>
		<result property="boardIsHidden" column="BOARD_ISHIDDEN"/>
	</resultMap>

	<resultMap type="MemberReply" id="replyResultSet">
		<id property="replyNo" column="REPLY_NO"/>
		<result property="boardNo" column="BOARD_NO"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="boardTitle" column="BOARD_TITLE"/>
		<result property="boardType" column="BOARD_TYPE"/>
		<result property="replyContent" column="REPLY_CONTENT"/>
		<result property="replyLikes" column="REPLY_LIKES"/>
		<result property="replyDislikes" column="REPLY_DISLIKES"/>
		<result property="replyReports" column="REPLY_REPORTS"/>
		<result property="replyEnrollDate" column="REPLY_ENROLL_DATE"/>
		<result property="replyModifyDate" column="REPLY_MODIFY_DATE"/>
		<result property="replyIsDeleted" column="REPLY_ISDELETED"/>
		<result property="replyIsHidden" column="REPLY_ISHIDDEN"/>
	</resultMap>

	<!-- 문의 -->
	<select id="selectContact" resultMap="contactResultSet">
		SELECT *
		FROM QUESTION_BOARD
		WHERE MEMBER_NO = #{ memberNo }
		ORDER BY QUESTION_UPDATEDATE DESC
	</select>

	<select id="selectContactList" resultMap="contactResultSet">
		SELECT *
		FROM QUESTION_BOARD
			JOIN PRODUCT USING(PRODUCT_NO)
		WHERE MEMBER_NO = #{ memberNo }
		ORDER BY QUESTION_UPDATEDATE DESC
	</select>

	<delete id="deleteContact">
		DELETE FROM QUESTION_BOARD
		WHERE QUESTION_NO = #{ questionNo }
	</delete>

	<select id="contactDetail" resultMap="contactResultSet">
		SELECT *
		FROM QUESTION_BOARD
			JOIN PRODUCT USING(PRODUCT_NO)
		WHERE QUESTION_NO = ${ questionNo }
	</select>

	<select id="selectAnswer" resultMap="contactResultSet">
		SELECT *
		FROM QUESTION_BOARD
		WHERE MEMBER_NO = #{ memberNo } AND QUESTION_ANSWER IS NOT NULL
		ORDER BY QUESTION_UPDATEDATE DESC
	</select>

	<select id="selectAnswerList" resultMap="contactResultSet">
		SELECT *
		FROM QUESTION_BOARD
			JOIN PRODUCT USING(PRODUCT_NO)
		WHERE MEMBER_NO = #{ memberNo } AND QUESTION_ANSWER IS NOT NULL
		ORDER BY QUESTION_UPDATEDATE DESC
	</select>

	<resultMap type="MemberContact" id="contactResultSet">
		<id property="questionNo" column="QUESTION_NO"/>
		<result property="questionTitle" column="QUESTION_TITLE"/>
		<result property="questionUpdateDate" column="QUESTION_UPDATEDATE"/>
		<result property="questionContent" column="QUESTION_CONTENT"/>
		<result property="questionAnswer" column="QUESTION_ANSWER"/>
		<result property="productNo" column="PRODUCT_NO"/>
		<result property="productName" column="PRODUCT_NAME"/>
		<result property="productImage" column="PRODUCT_IMAGE"/>
	</resultMap>

	<!-- 리뷰 -->
	<select id="selectReview" resultMap="reviewResultSet">
		SELECT *
		FROM PRODUCT_REVIEW
			LEFT JOIN PRODUCT_ORDER USING (ORDER_NO)
			LEFT JOIN PRODUCT USING (PRODUCT_NO)
		WHERE PRODUCT_ORDER.MEMBER_NO = #{ memberNo }
		ORDER BY REVIEW_UPDATE_DATE DESC
	</select>

	<select id="selectReviewList" resultMap="reviewResultSet">
		SELECT *
		FROM PRODUCT_REVIEW
			LEFT JOIN PRODUCT_ORDER USING (ORDER_NO)
			LEFT JOIN PRODUCT USING (PRODUCT_NO)
		WHERE PRODUCT_ORDER.MEMBER_NO = #{ memberNo }
	</select>

	<select id="findReview" resultMap="reviewResultSet">
		SELECT *
		FROM PRODUCT_REVIEW
			LEFT JOIN PRODUCT_ORDER USING (ORDER_NO)
			LEFT JOIN PRODUCT USING (PRODUCT_NO)
		WHERE PRODUCT_REVIEW.REVIEW_NO = #{ reviewNo }
	</select>

	<update id="updateReview">
		UPDATE PRODUCT_REVIEW
		SET REVIEW_POINT = #{ reviewPoint },
			REVIEW_CONTENT = #{ reviewContent }
		WHERE REVIEW_NO = #{ reviewNo }
	</update>
	
	<delete id="deleteReview">
		DELETE FROM PRODUCT_REVIEW
		WHERE REVIEW_NO = #{ reviewNo }
	</delete>

	<select id="selectReviewImage" resultType="String">
		SELECT ATTM_URL
		FROM BOARD_ATTACHMENT
		WHERE ATTM_CATEGORY = #{ reviewNo }
	</select>

	<insert id="insertReviewImage">
		INSERT INTO BOARD_ATTACHMENT
		VALUES(SEQ_ATTM_NO.NEXTVAL, #{ attmName }, #{ attmSaveName }, #{ attmUrl }, #{ productNo }, 's_review_${ reviewNo }')
	</insert>

	<delete id="deleteReviewImage">
		DELETE FROM BOARD_ATTACHMENT
		WHERE ATTM_URL = #{ attmUrl } AND ATTM_CATEGORY = 's_review_${ reviewNo }'
	</delete>

	<resultMap type="MemberReview" id="reviewResultSet">
		<id property="reviewNo" column="REVIEW_NO"/>
		<result property="orderNo" column="ORDER_NO"/>
		<result property="orderDate" column="ORDER_DATE"/>
		<result property="orderAmount" column="ORDER_AMOUNT"/>
		<result property="orderPrice" column="ORDER_PRICE"/>
		<result property="reviewContent" column="REVIEW_CONTENT"/>
		<result property="reviewUpdateDate" column="REVIEW_UPDATE_DATE"/>
		<result property="reviewPoint" column="REVIEW_POINT"/>
		<result property="productNo" column="PRODUCT_NO"/>
		<result property="productName" column="PRODUCT_NAME"/>
		<result property="productImage" column="PRODUCT_IMAGE"/>
		<result property="productAmount" column="PRODUCT_AMOUNT"/>
	</resultMap>

	<!-- 주문 -->
	<select id="selectOrder" resultMap="orderResultSet">
		SELECT *
		FROM PRODUCT_ORDER
			LEFT JOIN PRODUCT USING(PRODUCT_NO)
			LEFT JOIN COUPON_ISSUANCE USING(COUPON_ISSUANCE_NO)
			LEFT JOIN COUPON USING(COUPON_NO)
			LEFT JOIN EVENT_PRODUCT USING(PRODUCT_NO)
			LEFT JOIN EVENT USING(EVENT_NO)
		WHERE PRODUCT_ORDER.MEMBER_NO = #{ memberNo }
		ORDER BY ORDER_DATE DESC
	</select>

	<select id="selectOrderList" resultMap="orderResultSet">
		SELECT *
		FROM PRODUCT_ORDER
			LEFT JOIN PRODUCT USING(PRODUCT_NO)
			LEFT JOIN COUPON_ISSUANCE USING(COUPON_ISSUANCE_NO)
			LEFT JOIN COUPON USING(COUPON_NO)
			LEFT JOIN EVENT_PRODUCT USING(PRODUCT_NO)
			LEFT JOIN EVENT USING(EVENT_NO)
		WHERE PRODUCT_ORDER.MEMBER_NO = #{ memberNo }
		ORDER BY ORDER_DATE DESC
	</select>

	<select id="orderDetail" resultMap="orderResultSet">
		SELECT *
		FROM PRODUCT_ORDER
			LEFT JOIN PRODUCT USING(PRODUCT_NO)
			LEFT JOIN COUPON_ISSUANCE USING(COUPON_ISSUANCE_NO)
			LEFT JOIN COUPON USING(COUPON_NO)
			LEFT JOIN EVENT_PRODUCT USING(PRODUCT_NO)
			LEFT JOIN EVENT USING(EVENT_NO)
		WHERE PRODUCT_ORDER.${ type } = #{ value }
	</select>

	<resultMap type="MemberOrder" id="orderResultSet">
		<id property="orderNo" column="ORDER_NO"/>
		<result property="productImage" column="PRODUCT_IMAGE"/>
		<result property="productName" column="PRODUCT_NAME"/>
		<result property="productPrice" column="PRODUCT_PRICE"/>
		<result property="productNo" column="PRODUCT_NO"/>
		<result property="orderAmount" column="ORDER_AMOUNT"/>
		<result property="orderDeliveryDate" column="ORDER_DELIVERY_DATE"/>
		<result property="orderDeliveryCourier" column="ORDER_DELIVERY_COURIER"/>
		<result property="orderDeliveryNo" column="ORDER_DELIVERY_NO"/>
		<result property="orderPrice" column="ORDER_PRICE"/>
		<result property="orderType" column="ORDER_TYPE"/>
		<result property="orderDate" column="ORDER_DATE"/>
		<result property="orderAddr" column="ORDER_ADDR"/>
		<result property="orderDetailAddr" column="ORDER_DETAIL_ADDR"/>
		<result property="couponUse" column="COUPON_USE"/>
		<result property="couponDiscountRate" column="COUPON_DISCOUNT_RATE"/>
		<result property="couponName" column="COUPON_NAME"/>
		<result property="couponCondition" column="COUPON_CONDITION"/>
		<result property="couponUseCondition" column="COUPON_USE_CONDITION"/>
		<result property="cartNo" column="CART_NO"/>
		<result property="eventTitle" column="EVENT_TITLE"/>
		<result property="eventCode" column="EVENT_CODE"/>
		<result property="eventEndDate" column="EVENT_END_DATE"/>
		<result property="eventContent" column="EVENT_CONTENT"/>
	</resultMap>
	

	<select id="checkId" resultType="_int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE MEMBER_ID=#{memberId}
	</select>

	<select id="checkNickname" resultType="_int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE MEMBER_NICKNAME=#{memberNickname}
	</select>

	<select id="findId" resultType="string" resultMap="memberResultSet" >
		SELECT MEMBER_ID
		FROM MEMBER
		WHERE MEMBER_NAME=#{memberName} AND MEMBER_PHONE=#{memberPhone} AND MEMBER_STATUS='Y'
	</select>

	<select id="findPassword" resultType="string" resultMap="memberResultSet" >
		SELECT *
		FROM MEMBER
		WHERE MEMBER_ID=#{memberId} AND MEMBER_PHONE=#{memberPhone} AND MEMBER_STATUS='Y'
	</select>

	<update id="changePassword">
		UPDATE MEMBER
		SET MEMBER_PASSWORD = #{ memberPassword }
		WHERE MEMBER_ID = #{ memberId }
	</update>

	<select id="kakaoFindId" resultMap="memberResultSet"> 
		SELECT *
		FROM MEMBER
		WHERE MEMBER_ID=#{memberId} AND MEMBER_STATUS='Y'
	</select>
</mapper>