<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
</head>

<body>
    <!-- Footer Start -->
    <div class="container-fluid bg-teamcolor1 text-teamcolor mt-2 pt-3" th:fragment="mainFooter">
        <div class="row px-xl-5 pt-3 mb-3">
            <div class="col-lg-4 col-md-12 mb-2 pr-3 pr-xl-5">
                <a href="" class="text-decoration-none">
                    <h1 class="m-0 display-5 font-weight-semi-bold text-white text-decoration-none">
                        <span><img class="border-4" src="market_assets/img/logo.png" width="55" height="55" /></span>
                        &nbsp;Forest of Slumber
                    </h1>
                </a>
                <br />
                <p class="mb-2"><i class="fa fa-map-marker-alt text-white mr-3"></i>서울특별시 중구 남대문로 120 그레이츠 청계(구 대일빌딩)
                    2F, 3F</p>
                <p class="mb-2"><i class="fa fa-envelope text-white mr-3"></i>forest@fos.com</p>
                <p class="mb-0"><i class="fa fa-phone-alt text-white mr-3"></i>010 5247 1664</p>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-md-2 mb-5">
                        <br />
                        <h5 class="font-weight-bold text-teamcolor mb-4">퀵 메뉴</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-teamcolor mb-2" href="/"><i class="fa fa-angle-right mr-2"></i>홈</a>
                            <a class="text-teamcolor mb-2" href="shop?category=all"><i class="fa fa-angle-right mr-2"></i>쇼핑</a>
                            <!-- <a class="text-teamcolor mb-2" href="detail.html"><i class="fa fa-angle-right mr-2"></i>구매상품</a> -->
                        </div>
                    </div>
                    <div class="col-md-6 mb-5">
                        <br />
                        <h5 class="font-weight-bold text-teamcolor mb-4">&nbsp;</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-teamcolor mb-2" href="myCart"><i
                                    class="fa fa-angle-right mr-2"></i>장바구니</a>
                            <!-- <a class="text-teamcolor mb-2" href="shop.html"><i class="fa fa-angle-right mr-2"></i>결제</a> -->
                            <a class="text-teamcolor mb-2" href="FAQ.faq"><i
                                    class="fa fa-angle-right mr-2"></i>문의</a>
                        </div>
                    </div>
                    <div class="col-md-6 mb-5">
                    </div>
                    <div class="col-md-3 mb-2 pr-0 justify-content-md-right"
                        style="display: flex; justify-content: right;">
                        <img src="market_assets/img/logo2.png" style="width: 200px; height: 200px;">
                    </div>
                </div>
            </div>
        </div>
        <div class="row border-top border-light mx-xl-5 pt-4 pb-2 mb-0">
            <div class="col-md-6 px-xl-0 mb-0">
                <p class="mb-md-0 text-center text-md-left text-teamcolor">
                    Copyright &copy; 2023-2023 <a class="text-teamcolor font-weight-semi-bold" href="#">Forest of
                        Slumber</a>. All Rights Reserved.
                </p><br />
            </div>
            <div class="col-md-6 px-xl-0 mb-0 text-center text-md-right">
                <!-- <img class="img-fluid" src="market_assets/img/payments.png" alt=""> -->
            </div>
        </div>
    </div>
    <!-- Footer End -->
</body>
</html>