<tr th:unless="${ #lists.isEmpty(list) }" th:each="r : ${ list }">
    <td class="align-middle"><input name="replyCheck" type="checkbox"></td>
    <td class="align-middle" th:if="${ r.boardType == 'free_and_humor' }">
        <a class="text-truncate list-inline-item cursor" href="board.comm?board=free_and_humor" style="width:100px;"><b>[자유, 유머]</b></a>
    </td>
    <td class="align-middle" th:if="${ r.boardType == 'tips_and_info' }">
        <a class="text-truncate list-inline-item cursor" href="board.comm?board=tips_and_info" style="width:100px;"><b>[꿀팁, 정보]</b></a>
    </td>
    <td class="align-middle">
        <a class="text-truncate list-inline-item cursor" th:href="@{ post.comm(no=${ r.boardNo }) }" th:text="${ r.boardTitle }" style="width:200px;"></a>
    </td>
    <td class="align-middle">
        <a class="text-truncate list-inline-item cursor" th:href="@{ post.comm(no=${ r.boardNo }) }" th:text="${ r.replyContent }"  style="width:250px;"></a>
    </td>
    <td class="align-middle text-truncate" th:text="${ r.replyEnrollDate }"></td>
    <input type="hidden" th:value="${ r.replyNo }">
</tr>
<tr th:if="${ #lists.isEmpty(list) }">
    <td class="align-middle" colspan="5" >작성한 댓글이 없습니다.</td>
</tr>