<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" > <!--data-bs-theme="dark"-->

<head>
    <div th:replace="~{ views/common/mainHead :: mainHead }"></div>

    <style>
        .input-group {
            margin-bottom: 10px;
        }

        .input-group .input-label {
            display: inline-block;
            width: 100px;
            margin-top: 20px;
        }

        .input-group .input-field {
            display: inline-block;
            width: 200px;
            margin-top: 10px;
        }

        .input-group .input-field-small {
            width: 190px;
        }

        .hidden {
            display: none;
        }
    </style>
</head>

<body>
    <div th:replace="~{ views/common/mainTop :: mainTop }"></div>


    <!--메인 시작-->
    <div class="container-fluid bg-secondary my-5">
        <div class="row justify-content-md-center py-5 px-xl-5">
            <div class="col-md-4 col-12 py-5">
                <div class="text-center mb-2 pb-2">
                    <h2 class="section-title px-5 mb-3"><span class="bg-secondary px-2">아이디 찾기</span></h2>
                </div>
                <form action="findId.me" method="post" id="findId">
                    <div class="col-sm-12">
                        <label class="form-label">이름</label><label class="errorMsg" id="nameMsg"></label>
                        <input type="text" oninput="textRule(this)" class="form-control" maxlength="10" name="memberName" id="memberName" placeholder="이름을 입력하세요"  required>
                    </div>

                    <div class="col-12">
                        <label for="username" class="form-label">핸드폰 번호</label>
                        <label class="pl-4" id="phoneCodeMsg"></label>
                        <div class="input-group has-validation">
                            <input type="text" class="form-control" maxlength="20" oninput="autoHyphen(this)" name="memberPhone" id="memberPhone" placeholder="핸드폰 번호를 입력하고 인증번호 전송 버튼을 누르세요" required>
                            <button type="button" class="btn btn-primary" id="sendCodeButton" onclick="sendCode()">인증번호 전송</button>
                        </div>
        
                        <div class="input-group has-validation" style="margin-top: 10px;">
                          <input type="text" class="form-control" id="phoneCode" placeholder="인증번호를 입력하고 확인 버튼을 누르세요" required>
                          <button type="button" class="btn btn-primary" id="confirmCodeButton" onclick="confirmCode()">확 인</button>
                        </div>
                    </div><br>
                    <div class="text-center">

                        <button class="w-50 btn btn-primary btn-lg" type="button" id="signup" >아이디 찾기</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <!--메인 끝-->

    <script>
        const errorModal = (title, message) => {
            Swal.fire({
                icon: 'error',
                title: title,
                text: message
            });
        }

        const successModal = (title, message) => {
            Swal.fire({
                icon: 'success',
                title: title,
                text: message
            });
        }

        const autoHyphen = (target) => {
            target.value = target.value.replace(/[^0-9]/gi, '').replace(/^(\d{2,3})(\d{3,4})(\d+)$/, `$1-$2-$3`);
        }

        const name = document.getElementsByName("memberName")[0];
        const phone = document.getElementsByName("memberPhone")[0];
        
        const nameMsg = document.getElementById("nameMsg");
        const phoneMsg = document.getElementById("phoneMsg");
        const passwordMsg = document.getElementById("passwordMsg");
        const passwordCheckMsg = document.getElementById("passwordCheckMsg");
        
        const phoneCode = document.getElementById("phoneCode");
        const phoneCodeMsg = document.getElementById("phoneCodeMsg");
        
        const findId = document.getElementById("findId");
        let code = "";
        let timerId;
        let remainingTime = 300; // 5분 = 300초

        function startTimer() {
            timerId = setInterval(function() {
                if (remainingTime > 0) {
                    remainingTime--;
                    updateTimerDisplay(remainingTime);
                } else {
                    resetCode();
                }
            }, 1000);
        }

        function updateTimerDisplay(seconds) {
            const minutes = Math.floor(seconds / 60);
            const remainingSeconds = seconds % 60;
            phoneCodeMsg.innerHTML = `남은 시간: ${minutes}분 ${remainingSeconds}초`;
            phoneCodeMsg.style.color = 'red';
        }

        function resetCode() {
            clearInterval(timerId);
            remainingTime = 300; // 타이머 초기화
            code = ""; // 인증번호 초기화
            phoneCode.value = ""; // 입력된 인증번호 초기화
            phone.readOnly = false; // 입력란 활성화
            phoneCodeMsg.innerHTML = "시간이 초과되었습니다. 다시 인증해주세요."; // 인증 메시지 초기화
            document.getElementById("sendCodeButton").disabled = false; // 인증번호 전송 버튼 활성화
            document.getElementById("confirmCodeButton").disabled = false; // 확인 버튼 활성화
        }
        
        const sendCode = () => {
            if(phone.value == ''){
                return errorModal('발송 실패', '핸드폰 번호를 입력해주세요');
            } 
            if(phone.value.length != 13){
                return errorModal('발송 실패', '핸드폰 번호 11자리를 정확히 입력해주세요');
            }

            startTimer();
            $.ajax({
                type: "POST",
                url: "sendCode.me",
                data: { memberPhone : phone.value },
                cache: false,
                success: (data) => {
                    if(data == "fail") {
                        return errorModal('발송 실패', '다시 시도해주세요.');
                    } else {
                        phone.readOnly = true; //입력란 비활성화
                        code = data;
                        document.getElementById("sendCodeButton").disabled = true; // 인증번호 전송 버튼 비활성화
                        return successModal('발송 완료', '휴대폰 문자 인증번호를 확인해주세요.');
                    }
                }
            });
        }

        const confirmCode = () => {
            if(phoneCode.value == code && code != "") {
                clearInterval(timerId);
                phoneCodeMsg.innerHTML = '인증완료'; 
                phoneCodeMsg.style.color = 'green';
                phoneCode.readOnly = true;
                document.getElementById("sendCodeButton").disabled = true;
                document.getElementById("confirmCodeButton").disabled = true;
                successModal('인증 성공', '휴대폰 인증이 완료되었습니다.');
            }else{
                errorModal('인증 실패', '인증 번호를 다시 확인해주세요.');
            }
        }

        const textRule = (target) => {
                target.value = target.value.replace(/[^a-zA-Zㄱ-힣]/gi, '');
        }
        
        window.onload = () => {
            name.addEventListener('keyup', function() {
                
                if(this.value.length >= 10) {
                    nameMsg.innerText = '이름은 10자까지 입력 가능합니다.'
                } else if(this.value != '') {
                    nameMsg.innerText = '';
                }
            });
        };
        
        document.getElementById("signup").addEventListener("click", () => {
            findMemberId();
        });

        const findMemberId = ()=> {
            if(name.value == ''){
                memberName.focus();
                return errorModal('아이디 찾기 실패', '이름은 필수 입력사항입니다.')
            }

            if(phone.value == ''){
                phone.focus();
                return errorModal('아이디 찾기 실패', '핸드폰번호는 필수 입력사항입니다.')
            }

            if (phone.value.length != 13) {
                return errorModal('아이디 찾기 실패', '휴대폰 번호는 11자를 입력해야합니다.');
            }

            if(!phoneCode.readOnly){
                phoneCode.focus();
                return errorModal('아이디찾기 실패', '핸드폰번호 인증을 완료해주세요.')
            } else {
        
                return findId.submit();
            }
        }


        


    </script>

    <div th:replace="~{ views/common/mainFooter :: mainFooter }"></div>

    <div th:replace="~{ views/common/mainAnker :: mainAnker }"></div>

    <div th:replace="~{ views/common/mainScript :: mainScript }"></div>

    
</body>

</html>